@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}
.text-outline {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}
